# ========= General =========

# Ignore compiled executable & object files
build/
*.val*
*out
*in
*.o
outfile*
infile*
test*
out*
vsupp
.nfs*

# Ignore IDE files
.vscode/
.idea/
.gitignore


# ========= Minishell =========

minishell
.suppressed
!tester
!*.py
!*.souffrance

